# virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# coverage
htmlcov/
.coverage

# mypy
.mypy_cache/

# logs
*.log